div.padding_top.padding_bottom(data-type="post")
  h3
    a(href=post.url)
      = post.title
    span.margin_left.text.italic.right.small
      | #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
  div.post.content
    != post.preview
  div.tags
    - each tag in post.tags
      a(href=tagUrl(tag))&nbsp;
        span.button.tiny #{tag} &nbsp;
